body {
    background-color: black;
}

p {
    color: antiquewhite;
    font-family: 'Space Mono', monospace;
}

h2 {
    color: #66ffcc;
    font-family: 'Space Mono', monospace;
}

button, input {
    font-family: 'Space Mono', monospace;
    background-color: #66ffcc;
}